body{
    background-color: rgba(255, 235, 205, 0.762);
}
.header{
    min-height: 200px;
}
.navigation{
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.522);
    min-height: 50px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-size: x-large;

}
a:hover{
    color: rgba(255, 0, 0, 0.573);
    text-decoration: underline;
}
#content{
    line-height: 3;
}
#para{
    font-weight: 700;
    text-align: justify;
    
}